In [13]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import datetime
from scipy import stats
import requests
from requests import get
from bs4 import BeautifulSoup
import xgboost as xgb
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from numpy import absolute
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from linearmodels import PooledOLS
import statsmodels.api as sm
from linearmodels import PanelOLS
from linearmodels import RandomEffects
from sklearn.decomposition import PCA
import prince
import mca
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from numpy import mean
from numpy import std
from numpy import absolute
from sklearn.linear_model import LassoCV
from numpy import arange
from statsmodels.tools.eval_measures import rmse
from statsmodels.tools.eval_measures import meanabs

In [2]:
file = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/transaction.csv'
df_tr = pd.read_csv(file, header = None, index_col = 0)
df_tr.columns = ['type', 'from', 'to', 'date', 'punk_id', 'amount_in_eth', 'amount_in_dol']
df_tr = df_tr[ ['punk_id'] + [ col for col in df_tr.columns if col != 'punk_id' ] ]
df_tr.head()

,punk_id,type,from,to,date,amount_in_eth,amount_in_dol
0,,,,,,,
0,0,Bid Withdrawn,0x983ace,NaN,2021-05-10,250.0,1030000.0
1,0,Bid,0x983ace,NaN,2021-04-11,250.0,"537,615"
2,0,Bid Withdrawn,0xd7510a,NaN,2021-03-03,100.0,"160,973"
3,0,Bid,0xd7510a,NaN,2021-02-20,100.0,"188,897"
4,0,Bid Withdrawn,natealex,NaN,2020-09-16,69.0,"25,532"

In [3]:
def fix_df(x):
    x['punk_id'] = x['punk_id'].astype('category')
    x['type'] = x['type'].astype('category')
    x['from'] = x['from'].astype(str)
    x['to'] = x['to'].astype(str)
    x['date'] = pd.to_datetime(x['date'], format = '%Y.%m.%d')
    
    x['amount_in_eth'] = x['amount_in_eth'].astype(str)
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Y', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('Z', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('M', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('T', '')
    x['amount_in_eth'] = x['amount_in_eth'].str.replace('B', '')
    x['amount_in_eth'] = x['amount_in_eth'].replace(',', '', regex=True)
    x['amount_in_eth'] = x['amount_in_eth'].astype(float)

    x['amount_in_dol'] = x['amount_in_dol'].astype(str)
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Y', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('B', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('T', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('P', '')
    x['amount_in_dol'] = x['amount_in_dol'].str.replace('Z', '')
    x['amount_in_dol'] = x['amount_in_dol'].replace('<', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].replace(',', '', regex=True)
    x['amount_in_dol'] = x['amount_in_dol'].astype(float)
    
    x['amount_in_eth'] = x['amount_in_eth'].fillna(0)
    x['amount_in_dol'] = x['amount_in_dol'].fillna(0)

    return x

In [4]:
df_tr = fix_df(df_tr)

#Average Sale Price
sales = df_tr[df_tr['type'].str.contains("Sold")].reset_index(drop=True)
sales = sales.drop(['from', 'to', 'type', 'amount_in_eth'], axis=1)
sales = sales.groupby(['punk_id'])['amount_in_dol'].mean().reset_index()
sales = sales.fillna(0)
sales.head()

  punk_id  amount_in_dol
0       0    1176.000000
1       1   13855.666667
2       2       0.000000
3       3       0.000000
4       4       0.000000

In [5]:
file2 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/accessories.csv'
df_acc = pd.read_csv(file2, header = None, sep='\n')
df_acc = df_acc[0].str.split(',', expand=True)
df_acc.drop(0, axis=1, inplace=True)

dict={1:'gender', 
      2:  'acc_1',
      3:'acc_2', 
      4: 'acc_3',
      5:'acc_4',
      6: 'acc_5',
      7:'acc_6',
      8:'acc_7'}
df_acc.rename(columns=dict,
          inplace=True)
  
df_acc.head()

   gender             acc_1         acc_2       acc_3 acc_4 acc_5 acc_6 acc_7
0  Female  Green Eye Shadow       Earring  Blonde Bob  None  None  None  None
1    Male             Smile        Mohawk        None  None  None  None  None
2  Female         Wild Hair          None        None  None  None  None  None
3    Male         Wild Hair  Nerd Glasses        Pipe  None  None  None  None
4    Male        Big Shades     Wild Hair     Earring  Goat  None  None  None

In [6]:
types = df_acc['gender']
types_dummies = pd.get_dummies(types)
types_dummies['punk_id'] = types_dummies.index
types_dummies = types_dummies[ ['punk_id'] + [ col for col in types_dummies.columns if col != 'punk_id' ] ]

In [7]:
file3 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/accessories_transformed_full.csv'
acc = pd.read_csv(file3, index_col = 0)
acc['punk_id'] = acc.index
acc = acc[ ['punk_id'] + [ col for col in acc.columns if col != 'punk_id' ] ]
acc.head()

,punk_id,Beanie,Choker,Pilot Helmet,Tiara,Orange Side,Buck Teeth,Welding Goggles,Pigtails,Pink With Hat,...,Regular Shades,Horned Rim Glasses,Big Shades,Nerd Glasses,Black Lipstick,Mole,Purple Lipstick,Hot Lipstick,Cigarette,Earring
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [8]:
df = pd.merge(sales, types_dummies, on="punk_id", how='left')
df = pd.merge(df, acc, on="punk_id", how='left')

df = df.set_index(['punk_id'])
df = df.fillna(0)
df

,amount_in_dol,Alien,Ape,Female,Male,Zombie,Beanie,Choker,Pilot Helmet,Tiara,...,Regular Shades,Horned Rim Glasses,Big Shades,Nerd Glasses,Black Lipstick,Mole,Purple Lipstick,Hot Lipstick,Cigarette,Earring
punk_id,,,,,,,,,,,,,,,,,,,,,
0,1176.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,13855.666667,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.000000,0,0,0,1,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
9997,95416.000000,0,0,0,0,1,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,35334.500000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
9999,0.000000,0,0,1,0,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

# Simple Linear Regression

In [20]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [21]:
regressor = sm.OLS(y_train, X_train).fit()
print(regressor.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          amount_in_dol   R-squared:                       0.183
Model:                            OLS   Adj. R-squared:                  0.173
Method:                 Least Squares   F-statistic:                     17.04
Date:                Thu, 01 Jul 2021   Prob (F-statistic):          5.74e-235
Time:                        20:00:00   Log-Likelihood:                -86324.
No. Observations:                7000   AIC:                         1.728e+05
Df Residuals:                    6908   BIC:                         1.735e+05
Df Model:                          91
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                 1.778e+05   6334.566     28.068      0.000    1.65e+05     1.9e+05
Alien                 7.562e+05   2.33e+04     32.461      0.000    7.11e+05    8.02e+05
Ape                  -1.559e+05   1.14e+04    -13.653      0.000   -1.78e+05   -1.34e+05
Female               -1.715e+05   5572.987    -30.776      0.000   -1.82e+05   -1.61e+05
Male                 -1.731e+05   5393.278    -32.091      0.000   -1.84e+05   -1.63e+05
Zombie               -7.785e+04   7907.226     -9.846      0.000   -9.34e+04   -6.24e+04
Beanie                3.411e+04   1.05e+04      3.241      0.001    1.35e+04    5.47e+04
Choker                  1.9e+04   9745.790      1.950      0.051    -102.245    3.81e+04
Pilot Helmet          2.623e+04   1.01e+04      2.594      0.010    6409.528    4.61e+04
Tiara                 8218.5575   9666.943      0.850      0.395   -1.07e+04    2.72e+04
Orange Side           5.164e+04   9397.865      5.495      0.000    3.32e+04    7.01e+04
Buck Teeth            1.789e+04   8147.045      2.196      0.028    1921.166    3.39e+04
Welding Goggles      -1116.7930   7802.079     -0.143      0.886   -1.64e+04    1.42e+04
Pigtails              2.433e+04   8407.288      2.894      0.004    7850.530    4.08e+04
Pink With Hat          1.51e+04   8468.422      1.783      0.075   -1498.572    3.17e+04
Top Hat               1.975e+04   7544.399      2.617      0.009    4956.161    3.45e+04
Spots                 8027.8932   6436.200      1.247      0.212   -4589.037    2.06e+04
Rosy Cheeks            155.2781   5769.762      0.027      0.979   -1.12e+04    1.15e+04
Blonde Short          5420.8194   7401.133      0.732      0.464   -9087.677    1.99e+04
Wild White Hair       1003.6826   7110.178      0.141      0.888   -1.29e+04    1.49e+04
Cowboy Hat            7521.5645   7146.084      1.053      0.293   -6486.957    2.15e+04
Wild Blonde           6128.7890   6942.795      0.883      0.377   -7481.223    1.97e+04
Straight Hair Blonde  2616.6528   7627.041      0.343      0.732   -1.23e+04    1.76e+04
Big Beard             3141.7539   5596.814      0.561      0.575   -7829.723    1.41e+04
Red Mohawk            1840.7725   6543.018      0.281      0.778    -1.1e+04    1.47e+04
Half Shaved           1853.4478   7100.161      0.261      0.794   -1.21e+04    1.58e+04
Blonde Bob            1020.1664   6984.105      0.146      0.884   -1.27e+04    1.47e+04
Vampire Hair          6332.2719   6821.385      0.928      0.353   -7039.739    1.97e+04
Clown Hair Green      9608.7663   6816.241      1.410      0.159   -3753.162     2.3e+04
Straight Hair Dark    4496.4481   7691.430      0.585      0.559   -1.06e+04    1.96e+04
Straight Hair          723.6881   7007.716      0.103      0.918    -1.3e+04    1.45e+04
Silver Chain          7474.2816   5686.263      1.314      0.189   -3672.541    1.86e+04
Dark Hair             4559.5330   6751.210      0.675      0.499   -8674.913    1.78e+04
Purple Hair            1.04e+04   6571.222      1.583      0.114   -2482.192    2.33e+04
Gold Chain            1374.4772   5103.793      0.269      0.788   -8630.525    1.14e+04
Medical Mask         -6632.2944   5047.896     -1.314      0.189   -1.65e+04    3263.133
Tassle Hat            -288.2490   6796.173     -0.042      0.966   -1.36e+04     1.3e+04
Fedora                4554.6463   6434.068      0.708      0.479   -8058.106    1.72e+04
Police Cap           -8494.4751   5812.032     -1.462      0.144   -1.99e+04    2898.894
Clown Nose             380.5638   4833.160      0.079      0.937   -9093.916    9855.044
Smile                 5266.5162   4445.042      1.185      0.236   -3447.133     1.4e+04
Cap Forward           1.522e+04   5394.212      2.821      0.005    4642.257    2.58e+04
Hoodie                2.384e+04   5857.515      4.071      0.000    1.24e+04    3.53e+04
Front Beard Dark       504.0233   5697.623      0.088      0.930   -1.07e+04    1.17e+04
Frown                 7026.0688   4330.778      1.622      0.105   -1463.587    1.55e+04
Purple Eye Shadow     1495.9145   4505.083      0.332      0.740   -7335.434    1.03e+04
Handlebars           -1680.6145   4304.329     -0.390      0.696   -1.01e+04    6757.193
Blue Eye Shadow       2915.5475   4494.665      0.649      0.517   -5895.377    1.17e+04
Green Eye Shadow      2295.6516   4185.891      0.548      0.583   -5909.981    1.05e+04
Vape                  1496.4839   4113.433      0.364      0.716   -6567.109    9560.077
Front Beard           -274.8095   4242.654     -0.065      0.948   -8591.715    8042.096
Chinstrap             4505.1584   4127.024      1.092      0.275   -3585.077    1.26e+04
3D Glasses            2.708e+04   3992.180      6.783      0.000    1.93e+04    3.49e+04
Luxurious Beard       2045.2593   4095.473      0.499      0.618   -5983.126    1.01e+04
Mustache              1869.2080   4180.960      0.447      0.655   -6326.759    1.01e+04
Normal Beard Black    1128.9206   5322.913      0.212      0.832   -9305.625    1.16e+04
Normal Beard          -423.8944   4005.952     -0.106      0.916   -8276.793    7429.004
Eye Mask             -1635.0657   4146.924     -0.394      0.693   -9764.311    6494.179
Goat                 -2719.2666   4136.308     -0.657      0.511   -1.08e+04    5389.170
Do-rag                 538.1676   5614.187      0.096      0.924   -1.05e+04    1.15e+04
Shaved Head            926.9905   5645.593      0.164      0.870   -1.01e+04     1.2e+04
Muttonchops           -618.3655   3928.691     -0.157      0.875   -8319.807    7083.076
Peak Spike           -1832.9924   5675.896     -0.323      0.747    -1.3e+04    9293.509
Pipe                  2.398e+04   3911.575      6.131      0.000    1.63e+04    3.17e+04
VR                    6886.5782   3810.266      1.807      0.071    -582.715    1.44e+04
Cap                   2923.4947   5421.613      0.539      0.590   -7704.533    1.36e+04
Small Shades          1.267e+04   3544.358      3.575      0.000    5723.502    1.96e+04
Clown Eyes Green      2658.3296   3584.290      0.742      0.458   -4367.981    9684.640
Clown Eyes Blue       2224.4949   3689.996      0.603      0.547   -5009.031    9458.021
Headband             -1959.6948   5286.746     -0.371      0.711   -1.23e+04    8403.952
Crazy Hair            6032.6882   5301.528      1.138      0.255   -4359.937    1.64e+04
Knitted Cap          -3526.7939   4709.926     -0.749      0.454   -1.28e+04    5706.109
Mohawk Dark            -25.0232   4581.440     -0.005      0.996   -9006.055    8956.009
Mohawk                 980.9841   5234.778      0.187      0.851   -9280.791    1.12e+04
Mohawk Thin             76.0534   4423.314      0.017      0.986   -8595.002    8747.109
Frumpy Hair            323.0125   5213.603      0.062      0.951   -9897.253    1.05e+04
Wild Hair             1051.1864   5194.139      0.202      0.840   -9130.924    1.12e+04
Messy Hair           -1082.8259   5156.112     -0.210      0.834   -1.12e+04    9024.740
Eye Patch             2360.7665   3279.543      0.720      0.472   -4068.145    8789.678
Stringy Hair            -9.1699   5180.689     -0.002      0.999   -1.02e+04    1.01e+04
Bandana                691.9929   5133.680      0.135      0.893   -9371.599    1.08e+04
Classic Shades        5878.1424   3207.879      1.832      0.067    -410.286    1.22e+04
Shadow Beard            32.3582   3138.475      0.010      0.992   -6120.019    6184.735
Regular Shades         965.2060   3137.973      0.308      0.758   -5186.185    7116.597
Horned Rim Glasses     677.3177   3071.553      0.221      0.825   -5343.870    6698.505
Big Shades            5246.1310   3078.349      1.704      0.088    -788.379    1.13e+04
Nerd Glasses          5939.8876   2946.365      2.016      0.044     164.106    1.17e+04
Black Lipstick        -117.6309   3115.010     -0.038      0.970   -6224.009    5988.747
Mole                  1455.7878   2773.099      0.525      0.600   -3980.340    6891.915
Purple Lipstick        678.5604   3088.203      0.220      0.826   -5375.267    6732.388
Hot Lipstick          3216.1539   3002.073      1.071      0.284   -2668.833    9101.141
Cigarette             1299.6383   2296.710      0.566      0.572   -3202.619    5801.895
Earring               1665.8485   1542.292      1.080      0.280   -1357.519    4689.216
==============================================================================
Omnibus:                    15772.557   Durbin-Watson:                   1.999
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        337123771.644
Skew:                          20.590   Prob(JB):                         0.00
Kurtosis:                    1077.317   Cond. No.                     5.13e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 4.63e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [22]:
y_pred = regressor.predict(X_test)
print('Mean Absolute Error:', meanabs(y_test, y_pred))
print('Root Mean Squared Error:', rmse(y_test, y_pred))

Mean Absolute Error: 22819.13765060732
Root Mean Squared Error: 70866.7418137348

In [23]:
tmp = (regressor.pvalues <= 0.05)[1:]
tmp = pd.DataFrame(tmp)
tmp.reset_index(level=0, inplace=True)
tmp.rename(columns={0:'high_sig', 'index': 'attr'}, inplace=True )
sigf = tmp.loc[tmp['high_sig'] == True, 'attr']
sigf

0            Alien
1              Ape
2           Female
3             Male
4           Zombie
5           Beanie
7     Pilot Helmet
9      Orange Side
10      Buck Teeth
12        Pigtails
14         Top Hat
40     Cap Forward
41          Hoodie
51      3D Glasses
62            Pipe
65    Small Shades
85    Nerd Glasses
Name: attr, dtype: object

# Linear Regression with Lasso Regularization

In [24]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

In [25]:
import warnings
warnings.filterwarnings('ignore')
# define model evaluation method
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define model
model = LassoCV(alphas=arange(0, 1, 0.01), cv=cv, n_jobs=-1)
# fit model
model.fit(X, y)
# summarize chosen configuration
print('alpha: %f' % model.alpha_)

alpha: 0.840000

In [26]:
opt_model = Lasso(alpha=0.84)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)
opt_model.fit(X_train, y_train)
print('Adjusted Rsquared: {}.'.format(1 - (1-opt_model.score(X_train, y_train))*(len(y_train)-1)/(len(y_train)-X_train.shape[1]-1)))

Adjusted Rsquared: 0.12196003232050268.

In [27]:
coeff_df = pd.DataFrame(opt_model.coef_, X.columns, columns=['Coefficient'])
coeff_df = coeff_df.sort_values(by=['Coefficient'], ascending=False)
coeff_df

                Coefficient
Alien         573300.159005
Zombie         78677.322847
Ape            68579.642534
Orange Side    34167.047925
Pilot Helmet   31169.136987
...                     ...
Mohawk         -5682.013011
Police Cap     -6503.918895
Male           -6513.519322
Peak Spike     -6694.475288
Tassle Hat     -7693.863660

[92 rows x 1 columns]

In [28]:
y_pred = opt_model.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 21522.69302146278
Mean Squared Error: 4527783666.869885
Root Mean Squared Error: 67288.80788712106

# Linear Regression with MCA

In [24]:
mca_acc = prince.MCA(
     n_components=8,
     n_iter=10,
     copy=True,
     check_input=True,
     engine='auto',
     random_state=42
 )
mca_acc = mca_acc.fit(df_acc)
mca_acc.explained_inertia_

[0.017491918697282397,
 0.011619412955466613,
 0.011310967007782677,
 0.011115670453114113,
 0.010301098069866092,
 0.010226499546043153,
 0.00982573074770247,
 0.009706208772175538]

In [25]:
mca_acc = mca_acc.transform(df_acc)
mca_acc = pd.DataFrame(mca_acc)
mca_acc.index.name='punk_id'
mca_acc.head()

,0,1,2,3,4,5,6,7
punk_id,,,,,,,,
0,1.038836,0.013757,0.491787,-0.203250,-0.563574,-0.262089,-0.476637,-0.299301
1,-0.738621,0.155581,2.245116,-0.137410,1.143202,-0.091987,1.360325,1.928501
2,0.373272,0.144719,-0.207156,-1.046743,0.134286,-0.031461,-0.077573,-0.439775
3,-0.755384,0.075674,-0.109474,-0.807458,0.010501,-0.110404,0.163441,-0.754422
4,-0.210543,-0.175639,0.027385,0.388300,-0.442742,-0.005061,-0.254494,-0.047554

In [26]:
df = pd.merge(sales, mca_acc, on="punk_id", how='left')
df = df.set_index(['punk_id'])
df = df.fillna(0)
df

,amount_in_dol,0,1,2,3,4,5,6,7
punk_id,,,,,,,,,
0,1176.000000,1.038836,0.013757,0.491787,-0.203250,-0.563574,-0.262089,-0.476637,-0.299301
1,13855.666667,-0.738621,0.155581,2.245116,-0.137410,1.143202,-0.091987,1.360325,1.928501
2,0.000000,0.373272,0.144719,-0.207156,-1.046743,0.134286,-0.031461,-0.077573,-0.439775
3,0.000000,-0.755384,0.075674,-0.109474,-0.807458,0.010501,-0.110404,0.163441,-0.754422
4,0.000000,-0.210543,-0.175639,0.027385,0.388300,-0.442742,-0.005061,-0.254494,-0.047554
...,...,...,...,...,...,...,...,...,...
9995,0.000000,1.603686,0.041473,1.233879,-0.071900,-1.523943,-0.257354,-0.514234,0.473575
9996,0.000000,-0.681362,-0.236497,-0.243782,0.416840,-0.357151,-0.117103,-0.049904,-0.175537
9997,95416.000000,-0.868262,-0.404074,-0.140224,0.951132,-0.544511,0.116622,0.904179,1.276691
9998,35334.500000,0.995286,-0.022246,-0.362990,0.210627,0.774630,0.185851,0.255223,-0.426076
9999,0.000000,0.593780,0.228273,-0.416362,-1.128595,0.065513,-0.006164,0.269166,-0.052048

In [27]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [29]:
mca_reg = sm.OLS(y_train, X_train).fit()
print(mca_reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          amount_in_dol   R-squared:                       0.007
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     6.417
Date:                Thu, 01 Jul 2021   Prob (F-statistic):           2.43e-08
Time:                        20:02:31   Log-Likelihood:                -87007.
No. Observations:                7000   AIC:                         1.740e+05
Df Residuals:                    6991   BIC:                         1.741e+05
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.573e+04    853.413     18.437      0.000    1.41e+04    1.74e+04
0           -984.8114   1707.307     -0.577      0.564   -4331.652    2362.029
1           3433.5165    888.111      3.866      0.000    1692.550    5174.483
2            757.3040   1767.057      0.429      0.668   -2706.664    4221.272
3          -7336.8651   1739.083     -4.219      0.000   -1.07e+04   -3927.734
4           9919.4846   1748.382      5.674      0.000    6492.125    1.33e+04
5             42.6814    722.372      0.059      0.953   -1373.386    1458.749
6            978.0795   1145.654      0.854      0.393   -1267.750    3223.909
7          -4344.1550   1617.629     -2.686      0.007   -7515.199   -1173.111
==============================================================================
Omnibus:                    19875.094   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1339585867.540
Skew:                          37.290   Prob(JB):                         0.00
Kurtosis:                    2144.799   Cond. No.                         3.05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [30]:
y_pred = mca_reg.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 22115.931642558462
Mean Squared Error: 5849423636.044989
Root Mean Squared Error: 76481.52480203954

# Linear Regression with Time Dummies

In [31]:
sales = df_tr[df_tr['type'].str.contains("Sold")].reset_index(drop=True)
sales = sales.drop(['from', 'to', 'type', 'amount_in_eth'], axis=1)
sales.head()

  punk_id       date  amount_in_dol
0       0 2018-11-30         2822.0
1       0 2017-07-07          386.0
2       0 2017-06-23          320.0
3       1 2020-11-30        36305.0
4       1 2019-04-06         5155.0

In [32]:
file4 = 'https://raw.githubusercontent.com/kalinakalina/DEDA_Cryptopunks/main/data/sales_time_dummie_encoded.csv'
time_dummies = pd.read_csv(file4, index_col = 0)
time_dummies = time_dummies.drop(['date', 'amount_in_dol'], axis = 1)
time_dummies = time_dummies.set_index('punk_id')
time_dummies.reset_index(level=0, inplace=True)
time_dummies.head()

,punk_id,monthyear_12018,monthyear_12019,monthyear_12020,monthyear_12021,monthyear_22018,monthyear_22019,monthyear_22020,monthyear_22021,monthyear_32018,...,monthyear_102019,monthyear_102020,monthyear_112017,monthyear_112018,monthyear_112019,monthyear_112020,monthyear_122017,monthyear_122018,monthyear_122019,monthyear_122020
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df = pd.merge(sales, types_dummies, on="punk_id", how='left')
df = pd.merge(df, acc, on="punk_id", how='left')

df = df.join(time_dummies, on=df.punk_id, how='left', lsuffix='', rsuffix='_')

df = df.set_index(['punk_id', 'date'])
df = df.fillna(0)
df

                    amount_in_dol  Alien  Ape  Female  Male  Zombie  Beanie  \
punk_id date
0       2018-11-30         2822.0      0    0       1     0       0     0.0
        2017-07-07          386.0      0    0       1     0       0     0.0
        2017-06-23          320.0      0    0       1     0       0     0.0
1       2020-11-30        36305.0      0    0       0     1       0     0.0
        2019-04-06         5155.0      0    0       0     1       0     0.0
...                           ...    ...  ...     ...   ...     ...     ...
9990    2021-03-20        44981.0      0    0       0     1       0     0.0
9997    2021-02-08       169770.0      0    0       0     0       1     0.0
        2020-09-27        21062.0      0    0       0     0       1     0.0
9998    2021-03-03        61170.0      0    0       1     0       0     0.0
        2020-12-27         9499.0      0    0       1     0       0     0.0

                    Choker  Pilot Helmet  Tiara  ...  monthyear_102019  \
punk_id date                                     ...
0       2018-11-30     0.0           0.0    0.0  ...                 0
        2017-07-07     0.0           0.0    0.0  ...                 0
        2017-06-23     0.0           0.0    0.0  ...                 0
1       2020-11-30     0.0           0.0    0.0  ...                 0
        2019-04-06     0.0           0.0    0.0  ...                 0
...                    ...           ...    ...  ...               ...
9990    2021-03-20     0.0           0.0    0.0  ...                 0
9997    2021-02-08     0.0           0.0    0.0  ...                 0
        2020-09-27     0.0           0.0    0.0  ...                 0
9998    2021-03-03     0.0           0.0    0.0  ...                 0
        2020-12-27     0.0           0.0    0.0  ...                 0

                    monthyear_102020  monthyear_112017  monthyear_112018  \
punk_id date
0       2018-11-30                 0                 0                 1
        2017-07-07                 0                 0                 1
        2017-06-23                 0                 0                 1
1       2020-11-30                 0                 0                 0
        2019-04-06                 0                 0                 0
...                              ...               ...               ...
9990    2021-03-20                 0                 0                 0
9997    2021-02-08                 0                 0                 0
        2020-09-27                 0                 0                 0
9998    2021-03-03                 0                 0                 0
        2020-12-27                 0                 0                 0

                    monthyear_112019  monthyear_112020  monthyear_122017  \
punk_id date
0       2018-11-30                 0                 0                 0
        2017-07-07                 0                 0                 0
        2017-06-23                 0                 0                 0
1       2020-11-30                 0                 0                 0
        2019-04-06                 0                 0                 0
...                              ...               ...               ...
9990    2021-03-20                 0                 0                 0
9997    2021-02-08                 0                 0                 0
        2020-09-27                 0                 0                 0
9998    2021-03-03                 0                 0                 0
        2020-12-27                 0                 0                 0

                    monthyear_122018  monthyear_122019  monthyear_122020
punk_id date
0       2018-11-30                 0                 0                 0
        2017-07-07                 0                 0                 0
        2017-06-23                 0                 0                 0
1       2020-11-30                 0                 0                 0
        2019-04-06                 0                 0                 0
...                              ...               ...               ...
9990    2021-03-20                 0                 0                 1
9997    2021-02-08                 0                 0                 0
        2020-09-27                 0                 0                 0
9998    2021-03-03                 0                 0                 0
        2020-12-27                 0                 0                 0

[13531 rows x 142 columns]

In [36]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)
X = X.astype(int)
X = sm.add_constant(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=888)

In [37]:
time_reg = sm.OLS(y_train, X_train).fit()
print(time_reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          amount_in_dol   R-squared:                       0.181
Model:                            OLS   Adj. R-squared:                  0.169
Method:                 Least Squares   F-statistic:                     14.83
Date:                Thu, 01 Jul 2021   Prob (F-statistic):          7.19e-302
Time:                        21:27:43   Log-Likelihood:            -1.2108e+05
No. Observations:                9471   AIC:                         2.424e+05
Df Residuals:                    9331   BIC:                         2.434e+05
Df Model:                         139
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                 3.027e+05   9324.314     32.465      0.000    2.84e+05    3.21e+05
Alien                 1.146e+06   3.32e+04     34.576      0.000    1.08e+06    1.21e+06
Ape                   -9.51e+04   1.68e+04     -5.665      0.000   -1.28e+05   -6.22e+04
Female               -2.861e+05   8091.505    -35.352      0.000   -3.02e+05    -2.7e+05
Male                 -2.912e+05   7771.437    -37.477      0.000   -3.06e+05   -2.76e+05
Zombie               -1.711e+05   1.18e+04    -14.516      0.000   -1.94e+05   -1.48e+05
Beanie                3.659e+04   1.31e+04      2.801      0.005     1.1e+04    6.22e+04
Choker                1.183e+04   1.41e+04      0.839      0.401   -1.58e+04    3.95e+04
Pilot Helmet          2.664e+04   1.54e+04      1.732      0.083   -3502.392    5.68e+04
Tiara                  1.99e+04   1.53e+04      1.301      0.193   -1.01e+04    4.99e+04
Orange Side           7.811e+04   1.46e+04      5.342      0.000    4.94e+04    1.07e+05
Buck Teeth            2.701e+04   1.27e+04      2.119      0.034    2028.399     5.2e+04
Welding Goggles       2.074e+04    1.3e+04      1.598      0.110   -4699.960    4.62e+04
Pigtails              3.771e+04   1.29e+04      2.929      0.003    1.25e+04    6.29e+04
Pink With Hat         2.781e+04   1.26e+04      2.209      0.027    3131.790    5.25e+04
Top Hat               2.269e+04   1.13e+04      1.999      0.046     444.567    4.49e+04
Spots                 2931.4746   9294.869      0.315      0.752   -1.53e+04    2.12e+04
Rosy Cheeks           4196.8844   7863.083      0.534      0.594   -1.12e+04    1.96e+04
Blonde Short          1.402e+04   1.24e+04      1.132      0.258   -1.03e+04    3.83e+04
Wild White Hair       3830.6220   1.13e+04      0.338      0.735   -1.84e+04     2.6e+04
Cowboy Hat            6936.7224   1.04e+04      0.668      0.504   -1.34e+04    2.73e+04
Wild Blonde           2.055e+04   1.31e+04      1.567      0.117   -5162.585    4.63e+04
Straight Hair Blonde  6367.8424   1.17e+04      0.544      0.586   -1.66e+04    2.93e+04
Big Beard             8202.9394   7989.845      1.027      0.305   -7458.900    2.39e+04
Red Mohawk            4291.7486   9906.681      0.433      0.665   -1.51e+04    2.37e+04
Half Shaved           5636.8581   1.13e+04      0.501      0.617   -1.64e+04    2.77e+04
Blonde Bob            4629.2683   1.14e+04      0.405      0.686   -1.78e+04     2.7e+04
Vampire Hair          6990.6165   8776.010      0.797      0.426   -1.02e+04    2.42e+04
Clown Hair Green      9253.4300      1e+04      0.923      0.356   -1.04e+04    2.89e+04
Straight Hair Dark    3684.6634   1.13e+04      0.326      0.744   -1.84e+04    2.58e+04
Straight Hair        -2370.6708   1.04e+04     -0.228      0.819   -2.27e+04     1.8e+04
Silver Chain          7891.5903   6609.161      1.194      0.232   -5063.807    2.08e+04
Dark Hair             5055.5627   9814.600      0.515      0.606   -1.42e+04    2.43e+04
Purple Hair           5636.4981   9606.320      0.587      0.557   -1.32e+04    2.45e+04
Gold Chain            4597.2258   8282.298      0.555      0.579   -1.16e+04    2.08e+04
Medical Mask         -8089.6122   7206.512     -1.123      0.262   -2.22e+04    6036.724
Tassle Hat            4912.6803   1.03e+04      0.478      0.633   -1.52e+04    2.51e+04
Fedora                4424.8171   8838.225      0.501      0.617   -1.29e+04    2.17e+04
Police Cap            -324.7094   8354.194     -0.039      0.969   -1.67e+04    1.61e+04
Clown Nose           -1903.8645   6583.598     -0.289      0.772   -1.48e+04     1.1e+04
Smile                 1.474e+04   6333.416      2.327      0.020    2323.888    2.72e+04
Cap Forward            1.91e+04   7259.435      2.631      0.009    4866.304    3.33e+04
Hoodie                3.621e+04   9004.360      4.021      0.000    1.86e+04    5.39e+04
Front Beard Dark     -1739.8059   6888.296     -0.253      0.801   -1.52e+04    1.18e+04
Frown                 8064.1759   5163.515      1.562      0.118   -2057.440    1.82e+04
Purple Eye Shadow     1039.8047   6179.792      0.168      0.866   -1.11e+04    1.32e+04
Handlebars           -2357.0945   5339.058     -0.441      0.659   -1.28e+04    8108.624
Blue Eye Shadow      -1102.7423   6185.257     -0.178      0.859   -1.32e+04     1.1e+04
Green Eye Shadow      4289.1665   6916.974      0.620      0.535   -9269.611    1.78e+04
Vape                  7584.0937   6544.016      1.159      0.247   -5243.606    2.04e+04
Front Beard           1772.8908   5317.756      0.333      0.739   -8651.072    1.22e+04
Chinstrap             2929.4238   5120.106      0.572      0.567   -7107.101     1.3e+04
3D Glasses            3.733e+04   6926.181      5.389      0.000    2.37e+04    5.09e+04
Luxurious Beard       1.155e+04   6576.949      1.756      0.079   -1341.042    2.44e+04
Mustache              3621.9391   5208.384      0.695      0.487   -6587.631    1.38e+04
Normal Beard Black   -3810.8557   7392.751     -0.515      0.606   -1.83e+04    1.07e+04
Normal Beard          6112.1467   5154.019      1.186      0.236   -3990.855    1.62e+04
Eye Mask             -1167.1945   5493.130     -0.212      0.832   -1.19e+04    9600.540
Goat                   804.5256   5237.923      0.154      0.878   -9462.948    1.11e+04
Do-rag               -8989.0004   7734.542     -1.162      0.245   -2.42e+04    6172.389
Shaved Head          -2367.8471   7677.135     -0.308      0.758   -1.74e+04    1.27e+04
Muttonchops           -875.8973   4981.288     -0.176      0.860   -1.06e+04    8888.515
Peak Spike           -3484.6316   8076.760     -0.431      0.666   -1.93e+04    1.23e+04
Pipe                  3.048e+04   5331.057      5.717      0.000       2e+04    4.09e+04
VR                    1.269e+04   5508.081      2.303      0.021    1890.581    2.35e+04
Cap                   -534.2933   7911.395     -0.068      0.946    -1.6e+04     1.5e+04
Small Shades          1.817e+04   4626.658      3.927      0.000    9097.880    2.72e+04
Clown Eyes Green      1996.4535   5076.577      0.393      0.694   -7954.746    1.19e+04
Clown Eyes Blue       2204.0149   5037.006      0.438      0.662   -7669.617    1.21e+04
Headband             -5365.1060   7591.985     -0.707      0.480   -2.02e+04    9516.841
Crazy Hair            5461.7761   8039.025      0.679      0.497   -1.03e+04    2.12e+04
Knitted Cap          -1994.1954   6466.039     -0.308      0.758   -1.47e+04    1.07e+04
Mohawk Dark             19.9069   5987.226      0.003      0.997   -1.17e+04    1.18e+04
Mohawk               -1860.2012   7507.980     -0.248      0.804   -1.66e+04    1.29e+04
Mohawk Thin          -1409.9569   5760.102     -0.245      0.807   -1.27e+04    9881.100
Frumpy Hair          -2358.0882   7536.707     -0.313      0.754   -1.71e+04    1.24e+04
Wild Hair             1409.2148   7609.625      0.185      0.853   -1.35e+04    1.63e+04
Messy Hair           -2705.3043   7536.318     -0.359      0.720   -1.75e+04    1.21e+04
Eye Patch              856.2756   4326.180      0.198      0.843   -7623.982    9336.533
Stringy Hair         -5899.7642   7260.662     -0.813      0.416   -2.01e+04    8332.718
Bandana              -1895.2140   7253.770     -0.261      0.794   -1.61e+04    1.23e+04
Classic Shades        6066.9125   4076.187      1.488      0.137   -1923.304    1.41e+04
Shadow Beard          -266.6330   4192.708     -0.064      0.949   -8485.256    7951.990
Regular Shades        1146.4766   4171.457      0.275      0.783   -7030.490    9323.443
Horned Rim Glasses    2179.7623   4250.042      0.513      0.608   -6151.248    1.05e+04
Big Shades            7815.6426   4208.932      1.857      0.063    -434.783    1.61e+04
Nerd Glasses          9548.5637   4189.546      2.279      0.023    1336.139    1.78e+04
Black Lipstick        -406.3785   4538.544     -0.090      0.929   -9302.915    8490.158
Mole                  1954.6812   3428.314      0.570      0.569   -4765.563    8674.925
Purple Lipstick       3068.0279   4591.128      0.668      0.504   -5931.585    1.21e+04
Hot Lipstick          2624.9274   4573.831      0.574      0.566   -6340.779    1.16e+04
Cigarette             5161.5819   3178.931      1.624      0.104   -1069.817    1.14e+04
Earring               1183.5320   2116.163      0.559      0.576   -2964.610    5331.674
punk_id_                -1.2437      0.538     -2.310      0.021      -2.299      -0.188
monthyear_12018       1.441e+04   7508.069      1.919      0.055    -309.402    2.91e+04
monthyear_12019       5474.1403   1.28e+04      0.428      0.669   -1.96e+04    3.06e+04
monthyear_12020       3314.0279   5732.761      0.578      0.563   -7923.435    1.46e+04
monthyear_12021       7621.0561   4666.547      1.633      0.102   -1526.394    1.68e+04
monthyear_22018      -6464.8410   1.67e+04     -0.387      0.699   -3.92e+04    2.63e+04
monthyear_22019       1986.7809   1.69e+04      0.117      0.907   -3.12e+04    3.52e+04
monthyear_22020      -6635.6159    1.1e+04     -0.605      0.545   -2.81e+04    1.49e+04
monthyear_22021       4324.5622   2864.218      1.510      0.131   -1289.930    9939.055
monthyear_32018      -7015.6042   1.62e+04     -0.432      0.666   -3.88e+04    2.48e+04
monthyear_32019       1511.1421    1.4e+04      0.108      0.914    -2.6e+04     2.9e+04
monthyear_32020       5226.6318   1.58e+04      0.330      0.741   -2.58e+04    3.62e+04
monthyear_32021       4626.8661   3353.776      1.380      0.168   -1947.267    1.12e+04
monthyear_42018       1.192e+05   1.32e+04      9.019      0.000    9.33e+04    1.45e+05
monthyear_42019       2.565e+04   1.18e+04      2.172      0.030    2504.583    4.88e+04
monthyear_42020       4305.0653   1.26e+04      0.343      0.732   -2.03e+04    2.89e+04
monthyear_42021       4237.4322   3549.794      1.194      0.233   -2720.939    1.12e+04
monthyear_52018      -1553.6722   9358.775     -0.166      0.868   -1.99e+04    1.68e+04
monthyear_52019       3367.6808   7901.373      0.426      0.670   -1.21e+04    1.89e+04
monthyear_52020       6776.9419   4608.326      1.471      0.141   -2256.383    1.58e+04
monthyear_52021       6145.5476   4554.716      1.349      0.177   -2782.689    1.51e+04
monthyear_62017       1884.0989   7320.376      0.257      0.797   -1.25e+04    1.62e+04
monthyear_62018       1.109e+04   1.08e+04      1.024      0.306   -1.01e+04    3.23e+04
monthyear_62019       1667.1395   7544.682      0.221      0.825   -1.31e+04    1.65e+04
monthyear_62020       2.618e+04   1.05e+04      2.492      0.013    5588.796    4.68e+04
monthyear_72017       4358.1476   4630.487      0.941      0.347   -4718.619    1.34e+04
monthyear_72018      -9017.0305   2.23e+04     -0.404      0.686   -5.28e+04    3.48e+04
monthyear_72019       1.509e+04   1.38e+04      1.096      0.273   -1.19e+04    4.21e+04
monthyear_72020      -8143.4460   1.14e+04     -0.716      0.474   -3.04e+04    1.41e+04
monthyear_82017      -7978.6563   1.11e+04     -0.720      0.471   -2.97e+04    1.37e+04
monthyear_82018       9067.7018    2.3e+04      0.394      0.693    -3.6e+04    5.42e+04
monthyear_82019       4632.2085    1.7e+04      0.272      0.786   -2.88e+04     3.8e+04
monthyear_82020       5029.6840   9486.391      0.530      0.596   -1.36e+04    2.36e+04
monthyear_92017       1.477e+04   1.31e+04      1.127      0.260   -1.09e+04    4.05e+04
monthyear_92018      -1.133e+04   2.16e+04     -0.524      0.600   -5.37e+04    3.11e+04
monthyear_92019       -653.5766   7856.072     -0.083      0.934   -1.61e+04    1.47e+04
monthyear_92020       6546.5973   2742.124      2.387      0.017    1171.436    1.19e+04
monthyear_102017      1580.5191   1.49e+04      0.106      0.916   -2.77e+04    3.08e+04
monthyear_102018        85.3926   1.28e+04      0.007      0.995    -2.5e+04    2.52e+04
monthyear_102019     -6923.9113   1.74e+04     -0.397      0.691   -4.11e+04    2.72e+04
monthyear_102020      6067.7417   4654.813      1.304      0.192   -3056.707    1.52e+04
monthyear_112017      5836.1452   1.23e+04      0.476      0.634   -1.82e+04    2.99e+04
monthyear_112018     -1728.1212   9130.607     -0.189      0.850   -1.96e+04    1.62e+04
monthyear_112019      4963.0396   1.21e+04      0.410      0.681   -1.87e+04    2.87e+04
monthyear_112020      4964.3676   9768.291      0.508      0.611   -1.42e+04    2.41e+04
monthyear_122017      3950.4890   7719.722      0.512      0.609   -1.12e+04    1.91e+04
monthyear_122018      6983.7031   1.16e+04      0.603      0.546   -1.57e+04    2.97e+04
monthyear_122019      9107.2483   9848.330      0.925      0.355   -1.02e+04    2.84e+04
monthyear_122020      8115.3846   7081.116      1.146      0.252   -5765.148     2.2e+04
==============================================================================
Omnibus:                    26222.711   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       2354012650.461
Skew:                          34.744   Prob(JB):                         0.00
Kurtosis:                    2444.385   Cond. No.                     3.52e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.78e-24. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [38]:
y_pred = time_reg.predict(X_test)
print('Mean Absolute Error:', meanabs(y_test, y_pred))
print('Root Mean Squared Error:', rmse(y_test, y_pred))

Mean Absolute Error: 29378.239067974326
Root Mean Squared Error: 113231.83865275483

In [39]:
tmp = (time_reg.pvalues <= 0.05)[1:]
tmp = pd.DataFrame(tmp)
tmp.reset_index(level=0, inplace=True)
tmp.rename(columns={0:'high_sig', 'index': 'attr'}, inplace=True )
sigf = tmp.loc[tmp['high_sig'] == True, 'attr']
sigf

0                Alien
1                  Ape
2               Female
3                 Male
4               Zombie
5               Beanie
9          Orange Side
10          Buck Teeth
12            Pigtails
13       Pink With Hat
14             Top Hat
39               Smile
40         Cap Forward
41              Hoodie
51          3D Glasses
62                Pipe
63                  VR
65        Small Shades
85        Nerd Glasses
92            punk_id_
105    monthyear_42018
106    monthyear_42019
116    monthyear_62020
128    monthyear_92020
Name: attr, dtype: object

# Panel Data Models with Time Dummies

In [38]:
y = df['amount_in_dol']
y = y.round(decimals=-2)

X = df.iloc[:,1:]
X = X.astype(int)

In [39]:
exog = sm.tools.tools.add_constant(X)
exog = exog.astype(int)
endog = y

X_train, X_test, y_train, y_test = train_test_split(exog, endog, test_size=0.3, random_state=888)

model_re = RandomEffects(y_train, X_train, check_rank=False) 
re_res = model_re.fit()
print(re_res)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:          amount_in_dol   R-squared:                        0.1810
Estimator:              RandomEffects   R-squared (Between):              0.1722
No. Observations:                9471   R-squared (Within):               0.0000
Date:                Wed, Jun 30 2021   R-squared (Overall):              0.1810
Time:                        23:08:41   Log-likelihood                -1.211e+05
Cov. Estimator:            Unadjusted
                                        F-statistic:                      14.621
Entities:                        5591   P-value                           0.0000
Avg Obs:                       1.6940   Distribution:                F(141,9329)
Min Obs:                       0.0000
Max Obs:                       13.000   F-statistic (robust):             14.664
                                        P-value                           0.0000
Time periods:                    1035   Distribution:                F(141,9329)
Avg Obs:                       9.1507
Min Obs:                       0.0000
Max Obs:                       232.00

                                  Parameter Estimates
========================================================================================
                      Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
----------------------------------------------------------------------------------------
const                 3.027e+05
Alien                 1.146e+06
Ape                   -9.51e+04
Female               -2.861e+05
Male                 -2.912e+05
Zombie               -1.711e+05
Beanie                3.659e+04  1.307e+04     2.8002     0.0051   1.098e+04   6.221e+04
Choker                1.183e+04   1.41e+04     0.8392     0.4014  -1.581e+04   3.947e+04
Pilot Helmet          2.664e+04  1.538e+04     1.7323     0.0833     -3505.6   5.679e+04
Tiara                  1.99e+04   1.53e+04     1.3008     0.1934  -1.009e+04   4.988e+04
Orange Side           7.811e+04  1.462e+04     5.3413     0.0000   4.944e+04   1.068e+05
Buck Teeth            2.701e+04  1.274e+04     2.1192     0.0341      2025.7   5.199e+04
Welding Goggles       2.074e+04  1.298e+04     1.5979     0.1101     -4702.7   4.618e+04
Pigtails              3.771e+04  1.288e+04     2.9291     0.0034   1.247e+04   6.295e+04
Pink With Hat         2.781e+04  1.259e+04     2.2087     0.0272      3129.1   5.249e+04
Top Hat               2.269e+04  1.135e+04     1.9992     0.0456      442.18   4.493e+04
Spots                    2931.5     9295.9     0.3154     0.7525  -1.529e+04   2.115e+04
Rosy Cheeks              4196.9     7863.9     0.5337     0.5936  -1.122e+04   1.961e+04
Blonde Short          1.402e+04  1.238e+04     1.1321     0.2576  -1.026e+04   3.829e+04
Wild White Hair          3830.6  1.132e+04     0.3383     0.7351  -1.836e+04   2.602e+04
Cowboy Hat               6936.7  1.039e+04     0.6675     0.5045  -1.343e+04   2.731e+04
Wild Blonde           2.055e+04  1.312e+04     1.5665     0.1173     -5165.3   4.627e+04
Straight Hair Blonde     6367.8  1.171e+04     0.5440     0.5865  -1.658e+04   2.931e+04
Big Beard                8202.9     7990.7     1.0266     0.3047     -7460.6   2.387e+04
Red Mohawk               4291.7     9907.7     0.4332     0.6649  -1.513e+04   2.371e+04
Half Shaved              5636.9  1.126e+04     0.5006     0.6167  -1.644e+04   2.771e+04
Blonde Bob               4629.3  1.144e+04     0.4047     0.6857  -1.779e+04   2.705e+04
Vampire Hair             6990.6     8777.0     0.7965     0.4258  -1.021e+04    2.42e+04
Clown Hair Green         9253.4  1.002e+04     0.9233     0.3559  -1.039e+04    2.89e+04
Straight Hair Dark       3684.7  1.129e+04     0.3263     0.7442  -1.845e+04   2.582e+04
Straight Hair           -2370.7  1.038e+04    -0.2284     0.8193  -2.272e+04   1.797e+04
Silver Chain             7891.6     6609.9     1.1939     0.2325     -5065.2   2.085e+04
Dark Hair                5055.6     9815.7     0.5151     0.6065  -1.419e+04    2.43e+04
Purple Hair              5636.5     9607.4     0.5867     0.5574   -1.32e+04   2.447e+04
Gold Chain               4597.2     8283.2     0.5550     0.5789  -1.164e+04   2.083e+04
Medical Mask            -8089.6     7207.3    -1.1224     0.2617  -2.222e+04      6038.2
Tassle Hat               4912.7  1.027e+04     0.4781     0.6326  -1.523e+04   2.505e+04
Fedora                   4424.8     8839.2     0.5006     0.6167   -1.29e+04   2.175e+04
Police Cap              -324.71     8355.1    -0.0389     0.9690   -1.67e+04   1.605e+04
Clown Nose              -1903.9     6584.3    -0.2892     0.7725  -1.481e+04     1.1e+04
Smile                 1.474e+04     6334.1     2.3269     0.0200      2322.6   2.715e+04
Cap Forward            1.91e+04     7260.2     2.6303     0.0085      4864.8   3.333e+04
Hoodie                3.621e+04     9005.3     4.0206     0.0001   1.855e+04   5.386e+04
Front Beard Dark        -1739.8     6889.0    -0.2525     0.8006  -1.524e+04   1.176e+04
Frown                    8064.2     5164.1     1.5616     0.1184     -2058.5   1.819e+04
Purple Eye Shadow        1039.8     6180.5     0.1682     0.8664  -1.108e+04   1.315e+04
Handlebars              -2357.1     5339.6    -0.4414     0.6589  -1.282e+04      8109.7
Blue Eye Shadow         -1102.7     6185.9    -0.1783     0.8585  -1.323e+04   1.102e+04
Green Eye Shadow         4289.2     6917.7     0.6200     0.5353     -9271.1   1.785e+04
Vape                     7584.1     6544.7     1.1588     0.2466     -5245.0   2.041e+04
Front Beard              1772.9     5318.3     0.3334     0.7389     -8652.2    1.22e+04
Chinstrap                2929.4     5120.7     0.5721     0.5673     -7108.2   1.297e+04
3D Glasses            3.733e+04     6926.9     5.3885     0.0000   2.375e+04    5.09e+04
Luxurious Beard       1.155e+04     6577.7     1.7561     0.0791     -1342.4   2.444e+04
Mustache                 3621.9     5208.9     0.6953     0.4869     -6588.7   1.383e+04
Normal Beard Black      -3810.9     7393.5    -0.5154     0.6063   -1.83e+04   1.068e+04
Normal Beard             6112.1     5154.6     1.1858     0.2357     -3991.9   1.622e+04
Eye Mask                -1167.2     5493.7    -0.2125     0.8318  -1.194e+04      9601.7
Goat                     804.53     5238.5     0.1536     0.8779     -9464.0   1.107e+04
Do-rag                  -8989.0     7735.4    -1.1621     0.2452  -2.415e+04      6174.0
Shaved Head             -2367.8     7678.0    -0.3084     0.7578  -1.742e+04   1.268e+04
Muttonchops             -875.90     4981.8    -0.1758     0.8604  -1.064e+04      8889.6
Peak Spike              -3484.6     8077.6    -0.4314     0.6662  -1.932e+04   1.235e+04
Pipe                  3.048e+04     5331.6     5.7165     0.0000   2.003e+04   4.093e+04
VR                    1.269e+04     5508.7     2.3032     0.0213      1889.4   2.349e+04
Cap                     -534.29     7912.2    -0.0675     0.9462  -1.604e+04   1.498e+04
Small Shades          1.817e+04     4627.2     3.9262     0.0001      9096.9   2.724e+04
Clown Eyes Green         1996.5     5077.1     0.3932     0.6942     -7955.8   1.195e+04
Clown Eyes Blue          2204.0     5037.5     0.4375     0.6617     -7670.7   1.208e+04
Headband                -5365.1     7592.8    -0.7066     0.4798  -2.025e+04      9518.4
Crazy Hair               5461.8     8039.9     0.6793     0.4969   -1.03e+04   2.122e+04
Knitted Cap             -1994.2     6466.7    -0.3084     0.7578  -1.467e+04   1.068e+04
Mohawk Dark              19.907     5987.9     0.0033     0.9973  -1.172e+04   1.176e+04
Mohawk                  -1860.2     7508.8    -0.2477     0.8043  -1.658e+04   1.286e+04
Mohawk Thin             -1410.0     5760.7    -0.2448     0.8067   -1.27e+04      9882.3
Frumpy Hair             -2358.1     7537.5    -0.3128     0.7544  -1.713e+04   1.242e+04
Wild Hair                1409.2     7610.4     0.1852     0.8531  -1.351e+04   1.633e+04
Messy Hair              -2705.3     7537.1    -0.3589     0.7197  -1.748e+04   1.207e+04
Eye Patch                856.28     4326.6     0.1979     0.8431     -7624.9      9337.4
Stringy Hair            -5899.8     7261.4    -0.8125     0.4165  -2.013e+04      8334.2
Bandana                 -1895.2     7254.5    -0.2612     0.7939  -1.612e+04   1.233e+04
Classic Shades           6066.9     4076.6     1.4882     0.1367     -1924.2   1.406e+04
Shadow Beard            -266.63     4193.2    -0.0636     0.9493     -8486.1      7952.9
Regular Shades           1146.5     4171.9     0.2748     0.7835     -7031.4      9324.3
Horned Rim Glasses       2179.8     4250.5     0.5128     0.6081     -6152.1   1.051e+04
Big Shades               7815.6     4209.4     1.8567     0.0634     -435.67   1.607e+04
Nerd Glasses             9548.6     4190.0     2.2789     0.0227      1335.3   1.776e+04
Black Lipstick          -406.38     4539.0    -0.0895     0.9287     -9303.9      8491.1
Mole                     1954.7     3428.7     0.5701     0.5686     -4766.3      8675.6
Purple Lipstick          3068.0     4591.6     0.6682     0.5040     -5932.5   1.207e+04
Hot Lipstick             2624.9     4574.3     0.5738     0.5661     -6341.7   1.159e+04
Cigarette                5161.6     3179.3     1.6235     0.1045     -1070.5   1.139e+04
Earring                  1183.5     2116.4     0.5592     0.5760     -2965.1      5332.1
punk_id_                -1.2437     0.5384    -2.3098     0.0209     -2.2992     -0.1882
monthyear_12018       1.441e+04  7.827e+10  1.841e-07     1.0000  -1.534e+11   1.534e+11
monthyear_12019          5474.1  7.827e+10  6.994e-08     1.0000  -1.534e+11   1.534e+11
monthyear_12020          3314.0  7.827e+10  4.234e-08     1.0000  -1.534e+11   1.534e+11
monthyear_12021          7621.1  7.827e+10  9.736e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22018         -6464.8  7.827e+10 -8.259e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22019          1986.8  7.827e+10  2.538e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22020         -6635.6  7.827e+10 -8.477e-08     1.0000  -1.534e+11   1.534e+11
monthyear_22021          4324.6  7.827e+10  5.525e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32018         -7015.6  7.827e+10 -8.963e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32019          1511.1  7.827e+10  1.931e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32020          5226.6  7.827e+10  6.677e-08     1.0000  -1.534e+11   1.534e+11
monthyear_32021          4626.9  7.827e+10  5.911e-08     1.0000  -1.534e+11   1.534e+11
monthyear_42018       1.192e+05  7.827e+10  1.523e-06     1.0000  -1.534e+11   1.534e+11
monthyear_42019       2.565e+04  7.827e+10  3.277e-07     1.0000  -1.534e+11   1.534e+11
monthyear_42020          4305.1  7.827e+10    5.5e-08     1.0000  -1.534e+11   1.534e+11
monthyear_42021          4237.4  7.827e+10  5.414e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52018         -1553.7  7.827e+10 -1.985e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52019          3367.7  7.827e+10  4.302e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52020          6776.9  7.827e+10  8.658e-08     1.0000  -1.534e+11   1.534e+11
monthyear_52021          6145.5  7.827e+10  7.851e-08     1.0000  -1.534e+11   1.534e+11
monthyear_62017          1884.1  7.827e+10  2.407e-08     1.0000  -1.534e+11   1.534e+11
monthyear_62018       1.109e+04  7.827e+10  1.417e-07     1.0000  -1.534e+11   1.534e+11
monthyear_62019          1667.1  7.827e+10   2.13e-08     1.0000  -1.534e+11   1.534e+11
monthyear_62020       2.618e+04  7.827e+10  3.345e-07     1.0000  -1.534e+11   1.534e+11
monthyear_72017          4358.1  7.827e+10  5.568e-08     1.0000  -1.534e+11   1.534e+11
monthyear_72018         -9017.0  7.827e+10 -1.152e-07     1.0000  -1.534e+11   1.534e+11
monthyear_72019       1.509e+04  7.827e+10  1.928e-07     1.0000  -1.534e+11   1.534e+11
monthyear_72020         -8143.4  7.827e+10  -1.04e-07     1.0000  -1.534e+11   1.534e+11
monthyear_82017         -7978.7  7.827e+10 -1.019e-07     1.0000  -1.534e+11   1.534e+11
monthyear_82018          9067.7  7.827e+10  1.158e-07     1.0000  -1.534e+11   1.534e+11
monthyear_82019          4632.2  7.827e+10  5.918e-08     1.0000  -1.534e+11   1.534e+11
monthyear_82020          5029.7  7.827e+10  6.426e-08     1.0000  -1.534e+11   1.534e+11
monthyear_92017       1.477e+04  7.827e+10  1.887e-07     1.0000  -1.534e+11   1.534e+11
monthyear_92018      -1.133e+04  7.827e+10 -1.448e-07     1.0000  -1.534e+11   1.534e+11
monthyear_92019         -653.58  7.827e+10  -8.35e-09     1.0000  -1.534e+11   1.534e+11
monthyear_92020          6546.6  7.827e+10  8.364e-08     1.0000  -1.534e+11   1.534e+11
monthyear_102017         1580.5  7.827e+10  2.019e-08     1.0000  -1.534e+11   1.534e+11
monthyear_102018         85.393  7.827e+10  1.091e-09     1.0000  -1.534e+11   1.534e+11
monthyear_102019        -6923.9  7.827e+10 -8.846e-08     1.0000  -1.534e+11   1.534e+11
monthyear_102020         6067.7  7.827e+10  7.752e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112017         5836.1  7.827e+10  7.456e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112018        -1728.1  7.827e+10 -2.208e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112019         4963.0  7.827e+10  6.341e-08     1.0000  -1.534e+11   1.534e+11
monthyear_112020         4964.4  7.827e+10  6.342e-08     1.0000  -1.534e+11   1.534e+11
monthyear_122017         3950.5  7.827e+10  5.047e-08     1.0000  -1.534e+11   1.534e+11
monthyear_122018         6983.7  7.827e+10  8.922e-08     1.0000  -1.534e+11   1.534e+11
monthyear_122019         9107.2  7.827e+10  1.164e-07     1.0000  -1.534e+11   1.534e+11
monthyear_122020         8115.4  7.827e+10  1.037e-07     1.0000  -1.534e+11   1.534e+11
========================================================================================

In [40]:
y_pred = re_res.predict(X_test)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 29378.239067534963
Mean Squared Error: 12821449284.684647
Root Mean Squared Error: 113231.83865275988